html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
form,
label,
aside,
canvas,
embed,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: inherit;
  -webkit-backdrop-filter: brightness(98%);
          backdrop-filter: brightness(98%);
  outline: 0;
  -webkit-text-fill-color: #fffef9;
  -webkit-transition: background-color 5000s;
  transition: background-color 5000s;
}

a {
  text-decoration: none;
}

button:hover,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #fffef9;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Handlee;
  src: url(../../assets/fonts/Handlee/Handlee-Regular.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.hidden {
  display: none;
}

.hidden:hover {
  display: block;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.navRow {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.no-img {
  border-radius: 50%;
  height: 9em;
  width: 9em;
  margin-left: 3em;
  background-image: url(../../assets/no-img.png);
  background-size: cover;
  border: 1px solid #000;
}

.dashboard .header-space {
  width: 100%;
  height: 8vh;
  background-color: #111;
}

.dashboard .sidebar {
  border-radius: 1em;
  border: 1px solid #fffef9;
}

.layout {
  padding: 0 2em 2em 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "sidebar main main";
  grid-column-gap: 2em;
}

.layout aside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.layout main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.workstation {
  background-color: #fffef9;
  border: 2px solid #000;
  border-top: none;
}

.workstation aside {
  display: -ms-grid;
  display: grid;
  position: fixed;
  margin: 1em 0;
  width: 19vw;
  height: 96vh;
}

.workstation main {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  background-color: #111;
  width: 80vw;
  position: absolute;
  right: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview .exit-preview {
  position: fixed;
  z-index: 5;
  top: 9vh;
  font-size: 1.5em;
  color: #fffef9;
  background-color: inherit;
  border: 1px solid #fffef9;
  padding: 0.5em;
  border-radius: 1em;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 300;
}

.preview .exit-preview:hover {
  background-color: #bd6521;
}

.control {
  display: block;
  background: none;
  width: 100%;
  font-weight: 400;
  font-size: 2em;
  color: #fffef9;
  line-height: 1.5;
  background-clip: padding-box;
  border: 0 solid;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.control:focus {
  color: #fffef9;
  background-color: inherit;
  -webkit-backdrop-filter: brightness(95%);
          backdrop-filter: brightness(95%);
  outline: 0;
}

.control::-webkit-input-placeholder {
  color: #fffef9;
}

.control:-ms-input-placeholder {
  color: #fffef9;
}

.control::-ms-input-placeholder {
  color: #fffef9;
}

.control::placeholder {
  color: #fffef9;
}

.control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fffef9;
}

.control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fffef9;
}

.control-two {
  display: block;
  background: none;
  width: 100%;
  font-weight: 300;
  font-size: 2em;
  color: #000;
  line-height: 1.5;
  background-clip: padding-box;
  border: 0 solid;
  border-radius: 0;
}

.control-two:focus {
  color: #fffef9;
  background-color: inherit;
  outline: 0;
}

.control-two::-webkit-input-placeholder {
  color: #fffef9;
}

.control-two:-ms-input-placeholder {
  color: #fffef9;
}

.control-two::-ms-input-placeholder {
  color: #fffef9;
}

.control-two::placeholder {
  color: #fffef9;
}

.control-two:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fffef9;
}

.control-two::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fffef9;
}

.auth-form {
  background-image: linear-gradient(45deg, #111, #bd6521);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffef9;
}

.auth-form button {
  border-radius: 2rem;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background: inherit;
  border: 1px solid #fffef9;
  color: #fffef9;
  outline: none;
  text-align: center;
  font-weight: 600;
}

.auth-form h1 {
  width: 100%;
  margin-bottom: 1.5em;
  font-size: 2em;
  text-align: center;
  color: #fffef9;
}

.auth-form .subtitle {
  width: 100%;
  padding: 0.5em 0;
  font-size: 1rem;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: inherit;
  color: #fffef9;
  border: none;
  outline: none;
  font-weight: 700;
}

.auth-form .form-errors {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: center;
  color: #f9e78c;
  font-weight: 600;
}

.auth-form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 7rem;
}

.footer {
  background-color: #000;
  color: #fffef9;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1em;
  position: relative;
  z-index: 5;
}

.footer .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
}

.footer .more div {
  height: 5em;
  text-align: center;
}

.footer .more .copyright {
  border-top: 1px solid #fffef9;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffef9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .more .social {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 3em;
}

.footer .more .social a {
  color: #fffef9;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

.footer .more .social a:hover {
  color: #bd6521;
}

.footer .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-size: 1em;
  overflow: hidden;
}

.footer .links .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: none;
  width: 100%;
}

.footer .links .container .col {
  width: 100%;
  text-align: left;
  padding-left: 1em;
  overflow-wrap: break-word;
}

.footer .links .container .col .header {
  margin-bottom: 1em;
  color: #fffef9;
  font-weight: 600;
  font-size: 0.9em;
}

.footer .links .container .col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.footer .links .container .col ul li {
  padding: 0 1em 1em 0;
}

.footer .links .container .col ul li a {
  color: #fffef9;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 200;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.footer .links .container .col ul li a:hover {
  color: #bd6521;
}

@media screen and (min-width: 840px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2em;
  }
  .footer .more .social {
    font-size: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 35%;
    height: 3em;
  }
  .footer .links {
    padding: 0 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .links .container .col {
    width: 10em;
    height: 100%;
  }
  .footer .links .container .col ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero {
  height: 100%;
  background-color: #111;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 100vh;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hero .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(45deg, #111, #bd6521);
  background-position: center;
  background-size: cover;
}

.hero .get-started {
  font-size: 4rem;
  background-color: inherit;
  color: #fffef9;
  border-radius: 2rem;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  position: relative;
}

.hero .get-started::before {
  content: "";
  display: block;
  height: 3px;
  background: #fffef9;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  right: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform ease-in-out 400ms;
  transition: -webkit-transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms, -webkit-transform ease-in-out 400ms;
}

.hero .get-started:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.hero .get-started::-webkit-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.hero .get-started:-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.hero .get-started::-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.hero .get-started::placeholder {
  color: #fffef9;
  opacity: 1;
}

.hero .get-started-input {
  font-size: 4rem;
  background-color: inherit;
  color: #fffef9;
  border-radius: 2rem;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  position: relative;
}

.hero .get-started-input::-webkit-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.hero .get-started-input:-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.hero .get-started-input::-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.hero .get-started-input::placeholder {
  color: #fffef9;
  opacity: 1;
}

.info {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 20vh;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info h1 {
  margin-bottom: 1em;
  font-size: 3em;
}

.info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

.info .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.5em;
  font-weight: 500;
}

.info a {
  padding-top: 1em;
  opacity: 1;
  position: relative;
}

.info a::before {
  content: "";
  display: block;
  height: 3px;
  background: #fffef9;
  position: absolute;
  bottom: -0.5em;
  left: 0;
  right: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.info a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.title-input {
  margin-bottom: 1em;
  font-size: 3em;
  background-color: inherit;
  color: #fffef9;
  border: none;
  outline: none;
  font-weight: 600;
  position: relative;
}

.title-input::-webkit-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.title-input:-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.title-input::-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.title-input::placeholder {
  color: #fffef9;
  opacity: 1;
}

.paragraph-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  background-color: inherit;
  color: #fffef9;
  border: none;
  outline: none;
  font-weight: 600;
  position: relative;
}

.paragraph-input::-webkit-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.paragraph-input:-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.paragraph-input::-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.paragraph-input::placeholder {
  color: #fffef9;
  opacity: 1;
}

.music-player {
  display: -ms-grid;
  display: grid;
}

.music-player .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.music-player .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-weight: 600;
  color: #fffef9;
  -ms-flex-item-align: center;
      align-self: center;
}

.music-player .track-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 40px;
}

.music-player .track {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding: 0 0.5em 0 1em;
  color: #fffef9;
}

.music-player .track button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  outline: none;
  border: none;
  height: 100%;
  background-color: inherit;
  font-size: 1em;
  color: #fffef9;
}

.music-player .cover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 50vh;
  width: 100%;
}

.music-player .cover {
  width: 80vw;
  height: 80vw;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 840px) {
  .music-player {
    height: 100vh;
    grid-auto-rows: 100vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .music-player .main-container {
    padding: 25% 0 0 15%;
    display: block;
  }
  .music-player .cover-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 100vh;
  }
  .music-player .cover {
    width: 60vh;
    height: 60vh;
  }
}

/*  NAVIGATION */
.navigation {
  background: rgba(17, 17, 17, 0.3);
  color: #fffef9;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 8vh;
}

.navigation .logo {
  font-size: 1.5em;
  color: #fffef9;
  text-decoration: none;
}

.navigation .nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.navigation .nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav-toggle-label span,
.navigation .nav-toggle-label span::before,
.navigation .nav-toggle-label span::after {
  display: block;
  background: #fffef9;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  position: relative;
}

.navigation .nav-toggle-label span::before,
.navigation .nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.navigation .nav-toggle-label span::before {
  bottom: 8px;
}

.navigation .nav-toggle-label span::after {
  top: 8px;
}

.navigation nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(17, 17, 17, 0.8);
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.navigation nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.navigation nav a {
  color: #fffef9;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.navigation nav a:hover {
  color: #ddd;
}

.navigation .nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navigation .nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 840px) {
  .navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 5fr) 1fr;
        grid-template-columns: 1fr auto minmax(600px, 5fr) 1fr;
  }
  .navigation .nav-toggle-label {
    display: none;
  }
  .navigation .logo {
    margin-top: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    font-size: 2em;
  }
  .navigation nav {
    position: relative;
    text-align: left;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation nav li {
    margin-bottom: 0;
  }
  .navigation nav a {
    opacity: 1;
    position: relative;
  }
  .navigation nav a::before {
    content: "";
    display: block;
    height: 3px;
    background: #fffef9;
    position: absolute;
    bottom: -0.5em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  .navigation nav a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.showcase {
  background-color: #111;
}

.showcase .wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 100vh;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.showcase .item {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.showcase .item p {
  color: #fffef9;
  font-size: 2em;
  padding: 0 0 1em 1em;
}

.showcase .item-input {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.showcase .item-input .caption-input {
  color: #fffef9;
  font-size: 2em;
  padding: 0 0 1em 1em;
  background-color: inherit;
  color: #fffef9;
  border-radius: 2rem;
  border: none;
  outline: none;
  position: relative;
}

.showcase .item-input .caption-input::-webkit-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.showcase .item-input .caption-input:-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.showcase .item-input .caption-input::-ms-input-placeholder {
  color: #fffef9;
  opacity: 1;
}

.showcase .item-input .caption-input::placeholder {
  color: #fffef9;
  opacity: 1;
}

/* /////// SQUARES  //////// */
.loader-container {
  width: 100%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  position: relative;
  width: 17em;
  height: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.loader div {
  display: inline-block;
  position: absolute;
  width: 5em;
  background: #fffef9;
  -webkit-animation: loader 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: loader 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.loader div:nth-child(1) {
  left: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loader div:nth-child(2) {
  left: 6em;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  left: 12em;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes loader {
  0% {
    top: 0em;
    height: 10em;
  }
  50%,
  100% {
    top: 10em;
    height: 5em;
  }
  from {
    background-color: #777;
  }
  to {
    background-color: #fffef9;
  }
}

@keyframes loader {
  0% {
    top: 0em;
    height: 10em;
  }
  50%,
  100% {
    top: 10em;
    height: 5em;
  }
  from {
    background-color: #777;
  }
  to {
    background-color: #fffef9;
  }
}

/* //////////////////// SPHERE ///////////////// */
.lds-circle {
  display: inline-block;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  margin-left: 3em;
}

.lds-circle div {
  display: inline-block;
  border-radius: 50%;
  height: 9em;
  width: 9em;
  background-color: #000;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #000;
  margin: 6px;
  border-radius: 50%;
  -webkit-animation: lds-circle 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@-webkit-keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

.gallery {
  padding: 1em;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 45vh;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background-color: #111;
}

.gallery img {
  background-image: linear-gradient(45deg, #111, #bd6521);
}

.about {
  height: 100%;
  background-color: #111;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 100vh;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(45deg, #111, #bd6521);
}

.about .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(45deg, #111, #bd6521);
}

.notepad {
  height: 63vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10fr 1fr;
      grid-template-rows: 1fr 10fr 1fr;
  border-top: 1px solid #fffef9;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: inherit;
  display: grid;
  color: #fffef9;
}

.notepad form {
  border-top: 1px solid #fffef9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: flex-center;
      -ms-flex-align: flex-center;
          align-items: flex-center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 1.5em;
}

.notepad .main {
  display: "flex";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  -webkit-box-pack: "start";
      -ms-flex-pack: "start";
          justify-content: "start";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
  padding: "5%";
}

.notepad .titleContainer {
  border-bottom: 1px solid #fffef9;
}

.notepad .titleContainer .title {
  font-size: 2em;
  text-align: center;
  padding: 0.2em;
  font-weight: 300;
}

.notepad .note {
  font-family: Handlee;
  font-size: 1.2em;
  list-style: disc;
  margin: 0.5em 0;
  padding: 0.2em;
  border-radius: 0.5em;
  color: #fffef9;
  font-weight: 300;
}

.notepad .update {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 11fr 1fr;
      grid-template-columns: 11fr 1fr;
}

.notepad .add {
  font-size: 3.5em;
  background-color: inherit;
  border: none;
  outline: none;
  color: #fffef9;
  font-weight: 300;
}

.notepad .delete {
  font-size: 2em;
  background-color: inherit;
  border: none;
  outline: none;
  font-weight: 300;
  color: #fffef9;
}

.notepad .feedback {
  width: 5%;
  height: 100%;
  background-color: darkred;
}

.profile {
  height: 25vh;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffef9;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
}

.profile img {
  border-radius: 50%;
  height: 9em;
  width: 9em;
  margin-left: 3em;
  background-color: #fffef9;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fffef9;
}

.profile .info h1 {
  font-size: 1.5em;
  font-weight: 300;
}

.profile .info h2 {
  font-weight: 300;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.profile .placeholder {
  background-color: inherit;
}

.myWebsites {
  height: 75vh;
  display: -ms-grid;
  display: grid;
  background-color: #111;
  grid-auto-rows: auto;
}

.myWebsites .edit {
  position: fixed;
  z-index: 5;
  top: 9vh;
  font-size: 1.5em;
  color: #fffef9;
  background-color: inherit;
  border: 1px solid #fffef9;
  padding: 0.5em;
  border-radius: 1em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 300;
}

.myWebsites .form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: flex-center;
      -ms-flex-align: flex-center;
          align-items: flex-center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}

.myWebsites .form .create {
  font-size: 2.7em;
  background-color: inherit;
  font-weight: 300;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 1.5;
  color: #fffef9;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border: 1px solid #fffef9;
  border-left: none;
  padding: 0.1em 0.6em;
}

.myWebsites .form .input {
  font-size: 2.7em;
  font-weight: 300;
  padding-left: 1em;
  background-color: inherit;
  width: 100%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border: 1px solid #fffef9;
}

.website {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fffef9;
  background-image: linear-gradient(-45deg, #111, #bd6521);
}

.website .action {
  font-size: 4rem;
  background-color: inherit;
  border-radius: 2rem;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.website .action-btn {
  font-size: 4rem;
  background-color: inherit;
  border-radius: 2rem;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.website .action-btn::before {
  content: "";
  display: block;
  height: 3px;
  background: #fffef9;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  right: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform ease-in-out 400ms;
  transition: -webkit-transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms, -webkit-transform ease-in-out 400ms;
}

.website .action-btn:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.website .button-container {
  font-size: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
}

.website .warning {
  color: 000;
  font-weight: 600;
  font-size: 2.5em;
}

.website .btn {
  font-size: 1em;
  background-color: inherit;
  border: 1px solid #fffef9;
  font-weight: 500;
  margin-top: 1em;
  border-radius: 2em;
  padding: 0.25em 1em;
  color: #fffef9;
}

.toolbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid #fffef9;
  background-color: #000;
  border-left: none;
  display: -ms-grid;
  display: grid;
  color: #fffef9;
}

.toolbox .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.toolbox .title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.toolbox .subtitle {
  font-size: 1em;
  margin: 1em 0 0.2em 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.toolbox .update {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 11fr 1fr;
      grid-template-columns: 11fr 1fr;
}

.toolbox .button-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.toolbox .main-button {
  color: #fffef9;
  height: 100%;
  font-size: 1.2em;
  background-color: inherit;
  font-weight: 300;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 1em;
  border: 1px solid #fffef9;
  text-align: center;
  padding: 0.5rem;
}

.toolbox .main-button:hover {
  background-color: #bd6521;
}

.toolbox .container {
  background-color: inherit;
  border: 1px solid #fffef9;
  width: 100%;
  height: 10em;
  margin: 1em 0;
}
/*# sourceMappingURL=App.css.map */