.dashboard {
  .header-space {
    width: 100%;
    height: 8vh;
    background-color: color(dark);
}
.sidebar {
  border-radius: 2em;
  border: 4px solid color(light);
}
}
.layout {
  padding: 0 2em 2em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "sidebar main main";
  grid-column-gap: 2em;
  aside {
    grid-area: sidebar;
  }
  main {
    grid-area: main;
  }
}
