.preview {
  .exit-preview {
    position: fixed;
    z-index: 5;
    top: 9vh;
    font-size: 1.5em;
    color: color(light);
    background-color: color(dark);
    border: 3px solid color(accent);
    padding: 0.5em;
    border-radius: 1em;
    border-left: none;  
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 500;

  }
}
