.workstation {
  background-color: color(light);
  border: 2px solid color(darker);
  border-top: none;
  aside {
    display: grid;
    position: fixed;
    margin: 2em 0;
    width: 30vw;
  }
  main {
    border-top: 2px solid color(darker);
    border-right: 2px solid color(darker);
    background-color: color(dark);
    width: 69.7vw;
    position: absolute;
    right: 2px;
    box-sizing: border-box;
  }
}

.toolbox {
  box-sizing: border-box;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-right: 0.5em solid color(darker);
  background-color: color(light);
  display: grid;
  color: color(dark);
  .main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5%;
  }
  .title {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .subtitle {
    font-size: 1em;
    margin: 1em 0 0.2em 0;
    align-self: flex-start;
  }
  .update {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 11fr 1fr;
  }
  .button-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .main-button {
    color: color(light);
    height: 100%;
    font-size: 1.5em;
    background-color: color(dark);
    border: 2px solid color(darker);
    font-weight: 600;
    align-self: center;
    line-height: 1.5;
  }
  .container {
    background-color: color(dark);
    width: 100%;
    height: 30vh;
  }
}
