.workstation {
  background-color: color(light);
  border: 2px solid color(darker);
  border-top: none;
  aside {
    display: grid;
    position: fixed;
    margin: 2em 0;
    width: 30vw;
  }
  main {
    border-top: 2px solid color(darker);
    border-right: 2px solid color(darker);
    background-color: color(dark);
    width: 69.7vw;
    position: absolute;
    right: 2px;
    box-sizing: border-box;
  }
}
