.notepad {
  height: 67vh;
  box-sizing: border-box;
  border: 2px solid color(darker);
  border-top: none;
  background-color: color(light);
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  color: color(light);
  form {
    border-top: 2px solid color(darker);
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    justify-content: space-around;
    padding: 0px 0.5em;
  }
  .main {
    display: "flex";
    align-items: "center";
    justify-content: "start";
    flex-direction: "column";
    padding: "5%";
  }
  .titleContainer {
    border-bottom: 2px solid color(darker);
    .title {
      font-size: 2em;
      color: color(darker);
      text-align: center;
      padding: 0.2em;
    }
  }
  .note {
    font-family: Handlee;
    font-size: 1.2em;
    list-style: disc;
    margin: 0.5em 0;
    padding: 0.2em;
    border-radius: 0.5em;
  }
  .update {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 11fr 1fr;
  }
  .add {
    font-size: 3.5em;
    background-color: inherit;
    border: none;
    outline: none;
    font-weight: 700;
  }
  .delete {
    font-size: 2em;
    background-color: inherit;
    border: none;
    outline: none;
    font-weight: 700;
    color: color(darker);
  }
  .feedback {
    width: 5%;
    height: 100%;
    background-color: color(error);
  }
}
