.profile {
    height: 25vh;
    background-color: color(light);
    display: flex;
    align-items: center;
    color: color(darker);
    border-bottom: 2px solid color(darker);
    img {
      border-radius: 50%;
      height: 9em;
      width: 9em;
      margin-left: 3em;
      background-color: color(light);
      object-fit: cover;
      border: 2px solid color(darker);
    }
    .info {
      margin-left: 0.3em;
      font-size: 0.6em;
    }
    .placeholder {
      background-color: color(darker);
    }
  }