.showcase {
  background-color: color(dark);
  .wrapper {
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
  }
  .item {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    p {
      color: color(light);
      font-size: 2em;
      padding: 0 0 1em 1em;
    }
  }
}
