$desktop: 840px;
$colors: (
  accent: mistyrose,
  accent-light: lighten(#154c8a, 20%),
  accent-dark: darken(#154c8a, 20%),
  complement: complement(#154c8a),
  contrast: #f9e78c,
  error: darkred,
  light: #fffef9,
  dark: #111,
  darker: #000,
  babyblue: #e3f0ff,
  blue: #d2e7ff,
  peach: #ffefd7,
  lightpeach: #fff6e9,
  salmon: #e3c9c9,
);

