$desktop: 840px;
$colors: (
  peach: #ffefd7,
  peach-light: #fff6e9,
  peach-dark: darken(#fff6e9, 40%),
  blue: #d2e7ff,
  baby-blue: #e3f0ff,
  light: #fffef9,
  dark: #111,
  nav-background: rgba(0, 0, 0, 0.2)
);