$desktop: 840px;
$colors: (
  accent: #2968b0,
  accent-light: lighten(#154c8a, 20%),
  accent-dark: darken(#154c8a, 20%),
  complement: complement(#154c8a),
  peach: #f9c771,
  error: darkred,
  light: #fffef9,
  dark: #111,
  darker: darken(#111, 5%),
);