
                                        /* COLOR SCHEME */
/* blue: #d2e7ff  | lightblue: #e3f0ff  | #fffef9 : #fffef9  | peach: #ffefd7  | lightpeach: #fff6e9 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* FONTS */
@font-face {
  font-family: Handlee;
  src: url(./assets/fonts/Handlee/Handlee-Regular.ttf);
}

/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
form,
label,
aside,
canvas,
embed,
footer,
header,
nav,
section{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: inherit;
  backdrop-filter: brightness(98%);
  outline: 0;
  -webkit-text-fill-color: #555;
  transition: background-color 5000s;
}
/* ///// LOGO ////// */

/* /////// LINKS //////// */

.link,
a {
  color: black;
  text-decoration: none;
}

li a {
  color: #fffef9 ;
  text-decoration: none;
}

.link:hover,
button:hover,
a:hover {
  text-decoration: none;
  color: gradient(#111, )
}

button:hover {
  text-decoration: none;
}

.opacity{
  transition: opacity 0.s;
}

.opacity:hover{
  opacity: 0.7;
  filter: brightness(110%);
}

.crowd {
  background-image: url(./assets/crowd.jpg);
  background-repeat: repeat-x;
  background-size: cover;
}
/* /////////FORM CONTROL///////////// */
.control {
  display: block;
  background: none;
  width: 100%;
  font-weight: 400;
  font-size: 2rem;
  color: #000 ;
  line-height: 1.5;
  background-clip: padding-box;
  border: 0 solid;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.control:focus {
  color: #000 ;
  background-color: inherit;
  backdrop-filter: brightness(98%);
  outline: 0;
}

.control::placeholder {
  color: #555;
}
.control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555 ;
}
.control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555 ;
}
  .control-center {
    display: block;
    background: none;
    width: 100%;
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    color: #000 ;
    line-height: 1.5;
    background-clip: padding-box;
    border: 0 solid;
    border-radius: 0;
    border-bottom: 1px solid black;
    text-align: center;
  }
  
  .control-center:focus {
    color: #000 ;
    background-color: inherit;
    backdrop-filter: brightness(98%);
    outline: 0;
  }
  
  .control-center::placeholder {
    color: #555;
  }
  .control-center:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #555 ;
  }
  .control-center::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #555 ;
  }


/* ////////GRID////////// */
.navRow {
  display: grid;
  grid-column: 1 / span 4;
}

.row {
  display: grid;
  grid-column: 1 / span 3;
}

.layout {
  display: grid;
  grid-template-rows: 1fr 11fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "sidebar main main";
}

.layout > nav {
  grid-area: nav;
}
.layout > aside {
  grid-area: sidebar;
}
.layout > main {
  grid-area: main;
}

/* /////// ANIMATIONS //////// */


.exp-line-start::after {
  content: "";
  display: flex;
  align-self: center;
  height: 2px;
  background-color: black;
  width: 0%;
  transition: width 0.3s;
}

.exp-line-start:hover::after {
  width: 100%;
}

.exp-center::after {
  content: "";
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 1px;
  background-color: black;
  width: 0%;
  transition: width 0.6s, transform 0.6s;
  position: relative;
  left: 50%;
}

.exp-center:focus-within:after {
  width: 100%;
  transform: translate(-50%);
}

.exp-center-black::after {
  content: "";
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 3px;
  background-color: #000;
  width: 0%;
  transition: width 0.4s, transform 0.4s;
  position: relative;
  left: 50%;
}

.exp-center-black:hover::after {
  width: 100%;
  transform: translate(-50%);
}

.exp-center-fff:hover::after {
  width: 100%;
  transform: translate(-50%);
}
.exp-center-fff::after {
  content: "";
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 3px;
  background-color: #fffef9 ;
  width: 0%;
  transition: width 0.4s, transform 0.4s;
  position: relative;
  left: 50%;
}


/* /////// DISPLAY ON HOVER //////// */

.hidden{
  display: none;
}

.hidden:hover{
  display: block;
}